@import '~antd/dist/antd.css';

.App {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
h2 {
    margin-bottom: 0em;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 700;
}
ul{
    margin-bottom: 0em; 
}
li{
    list-style-type: none;
}